#cname{
position: absolute;
  border-radius: 20px;
  border:solid .1px;
  
  width: 200px;
  margin-left:10px;
  padding:5px;
  padding-left:10px;
}
#cemail{
position: absolute;
  border-radius: 20px;
  border:solid .1px;
  
  margin-left:10px;
  padding:5px;
  padding-left:10px;
}

#cinquiry {
  
  position: absolute;
  
  width:500px;
  
  
  padding-bottom:10px;
  padding-right:25px;
  padding-left:25px;
  padding-top:1px;
  
  overflow: scroll;
  
  border-radius: 20px;
  border:solid .1px;
  background-color: #ffffff;
  
}




/*CONTAINER:*/
.contact-us{
  position: relative;
  width:43rem;
  height:30rem;
  
  
  margin-left:auto;
  margin-right:auto;
}

.contact-us ::placeholder {
  color: #000;
  opacity:50%;
}

#csubmit{ 
  border-radius: 20px;
  background-color: #bfbfbf;
  
  position:relative;
  
  margin-left: auto;
  margin-right: auto;
  
  top:10vw;
  left:2.2vw;
  
  color:#ffffff;
  
  border: none;
  
  width:500px;
  height:100px;
  
  
  transition: 
    width 1s, 
    color 1s, 
    background-color 1s ease-in;
}
#csubmit:hover{
  color:#53bece;
  background-color: #202020;
  
  transition:
  width 5s, 
  color 2s ease-in-out 1s, 
  background-color 1s ease-in-out;
  
  width:500px;
  height:100px;
}

.error-message {
    color: #a81a1a;
    font-size: 9px;
  position: relative;
  left:250px;
}

#inquiry-error{
  position:relative;
    bottom: -60px;
  left:0;
}